.outer-container {
  overflow-x: hidden;
  height: 100vh;
}

.outer-container::-webkit-scrollbar {
  display: none;
}

.row {
  margin-top: 5rem;
  padding: 2rem 2rem;
}

.card img {
  height: 50vh;
}

@media screen and (max-width: 767px) {
  .row {
    padding: 5px 10px;
  }

  .card {
  }

  .card img {
    height: 25vh;
  }
}
