.outer-container {
  overflow-x: hidden;
  height: 100vh;
  user-select: none;
}

.outer-container::-webkit-scrollbar {
  display: none;
}

h5 {
  font-family: "EB Garamond", serif;
  font-size: 1rem;
}

.row {
  margin-top: 5rem;
  padding: 2rem 2rem;
}

.card img {
  height: 50vh;
}

.action-btns {
  cursor: pointer;
}

.action-btns:hover {
  opacity: 0.5;
}

.action-btns:active {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .row {
    padding: 5px 10px;
  }

  .card {
  }

  .card img {
    height: 25vh;
  }
}
