.outer-container {
  background-color: #000000;
  padding: 0 48px ;
}

.row{
  margin: 48px 0;
}

span {
  color: #fff;
  font-size: 1rem;
  font-family: "Bad Script", cursive;
}

h3 {
  font-size: 2rem;
  color: #fff;
  font-family: "Amita", serif;
}

@media screen and (max-width: 767px) {
  .outer-container{
    padding: 0;
  }

  h3{
    font-size: 1.8rem;
    margin: 0;
  }

  .col-sm-4:nth-child(2), .col-sm-4:nth-child(3){
    margin-top: 1rem;
  }

  .row{
    margin: 10px auto;
  }
}
