.outer-container {
  background-color: #000000;
}

span {
  color: #fff;
  font-size: 1rem;
  font-family: "Bad Script", cursive;
}

h3 {
  font-size: 2rem;
  color: #fff;
  font-family: "Amita", serif;
}

/* img {
  background-color: #fff;
} */
