<div class="container-fluid p-0 px-5 overflow-hidden outer-container">
  <div class="row">
    <div class="col-4">
      <div>
        <img src="assets/Images/litchies.png" style="height: 2rem" />
      </div>
      <div class="container content">
        <div class="container content1">
          <span>15 Main Rd E. St Albans VIC 1234, Australia</span>
        </div>
        <div class="container content1">
          <span>Email: info@domain.com </span>
        </div>
        <div class="container content1">
          <span>Phone: +1 234-456-7890 </span>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="container">
        <h3>Products</h3>
      </div>
      <div class="container content">
        <div class="container content1">
          <span>Price Drop</span>
        </div>
        <div class="container content1">
          <span>New Products</span>
        </div>
        <div class="container content1">
          <span>Best Sales</span>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="container">
        <h3>Get in Touch</h3>
      </div>
      <div class="container content">
        <div class="container content1">
          <span
            >Subscribe to our newsletter <br />to get exclusive discounts</span
          >
        </div>
        <div class="container content1">
          <span
            ><input
              type="text"
              class="form-control form-control-sm w-50 mb-1"
              placeholder="Email"
          /></span>
        </div>
        <div class="container content1">
          <button class="btn btn-primary">Subscribe</button>
        </div>
      </div>
    </div>
  </div>
</div>
