.outer-container {
  background-color: #f6dcdc;
  padding: 0 48px;
}

.row {
  margin: 48px 0;
}

span {
  color: black;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

h3 {
  font-size: 1rem;
  color: black;
  font-family: "Roboto", sans-serif;
}

.btn {
  background-color: white;
  color: #ec5858;
  border: 1px solid #ec5858;
}

a {
  margin-left: 0.5rem;
  color: black;
}

#span input {
  margin-left: 50%;
}

@media screen and (max-width: 767px) {
  .outer-container {
    padding: 0;
  }

  h3 {
    font-size: 1rem;
    margin: 0;
  }

  .col-sm-4:nth-child(2),
  .col-sm-4:nth-child(3) {
    margin-top: 1rem;
  }

  span {
    font-size: 12px;
  }

  .row {
    margin: 10px auto;
  }

  .content1 {
    padding: 0;
  }

  .content1 button {
    font-size: 10px;
    height: 25px;
    padding: 0 2px;
  }

  .content1 input {
    font-size: 10px;
    height: 25px;
    padding: 0 2px;
  }

  .address-header {
    margin-left: 12px;
  }

  .products-span-1 {
    padding-left: 15px;
  }

  .products-span-2 {
    padding-left: 33px;
  }

  .products-span-3 {
    padding-left: 15px;
  }
}
