<div class="container-fluid overflow-hidden outer-container">
  <div class="row">
    <div class="col-sm-4 text-start p-0">
      <div class="address-header">
        <h3>Address</h3>
      </div>
      <div class="container content">
        <div class="container content1">
          <span>15 Main Rd, Hariparwat Crossing, Agra</span>
        </div>
        <div class="container content1">
          <span>Email: litchies2022@gmail.com</span>
        </div>
        <div class="container content1">
          <span>Phone: +91-8266847277 </span>
        </div>
      </div>
    </div>
    <div class="col-sm-4 text-center p-0">
      <div class="container ms-2">
        <h3>Products</h3>
      </div>
      <div class="container content">
        <div class="container content1">
          <span class="products-span-1">Price Drop</span>
        </div>
        <div class="container content1">
          <span class="products-span-2">New Products</span>
        </div>
        <div class="container content1">
          <span class="products-span-3">Best Sales</span>
        </div>
      </div>
    </div>
    <div class="col-sm-4 text-end p-0">
      <div class="container ms-2">
        <h3>News Letter</h3>
      </div>
      <div class="container content">
        <div class="container content1">
          <span>
            Subscribe to our newsletter <br />to get exclusive discounts
          </span>
        </div>
        <div class="container content1">
          <span>
            <input
              type="text"
              class="form-control form-control-sm w-50 my-1 float-end"
              placeholder="Email"
            />
          </span>
        </div>
        <div class="container content1">
          <button class="btn">Subscribe</button>
        </div>
      </div>
    </div>
  </div>
</div>
