<div class="container-fluid overflow-hidden outer-container">
  <div class="row">
    <div class="col-sm-4 text-start p-0">
      <div class="address-header">
        <h3 class="m-0">Social Links</h3>
      </div>
      <div class="container content">
        <div class="container content1">
          <i class="bi bi-facebook"></i>
          <a
            class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            href="https://www.facebook.com/"
            target="_blank"
            >Facebook</a
          >
        </div>
        <div class="container content1">
          <i class="bi bi-instagram"></i>
          <a
            class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            href="https://www.instagram.com/"
            target="_blank"
            >Instagram</a
          >
        </div>
        <div class="container content1">
          <i class="bi bi-twitter"></i>
          <a
            class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            href="https://twitter.com/"
            target="_blank"
            >Twitter
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 text-center p-0">
      <div class="container ms-2">
        <h3>Products</h3>
      </div>
      <div class="container content">
        <div class="container content1">
          <span class="products-span-1">Price Drop</span>
        </div>
        <div class="container content1">
          <span class="products-span-2">New Products</span>
        </div>
        <div class="container content1">
          <span class="products-span-3">Best Sales</span>
        </div>
      </div>
    </div>
    <div class="col-sm-4 text-end p-0">
      <div class="container px-3">
        <h3>News Letter</h3>
      </div>
      <div class="container content">
        <div class="container content1">
          <span>
            Subscribe to our newsletter <br />to get exclusive discounts
          </span>
        </div>
        <div class="container content1">
          <span id="span">
            <input
              type="text"
              class="form-control form-control-sm w-50 my-1"
              placeholder="Email"
            />
          </span>
        </div>
        <div class="container content1">
          <button class="btn">Subscribe</button>
        </div>
      </div>
    </div>
  </div>
</div>
