<div class="container-fluid p-0 outer-container">
  <app-nav-bar></app-nav-bar>

  <div class="container-lg bg-light mt-5 pt-5">
    <div class="container-lg text-center img-container">
      <img src="assets/Images/litchies.png" alt="Not Found" />
    </div>

    <div class="container-lg py-5">
      <!-- Mobile Number -->
      <div class="text-center my-4">
        <input
          type="text"
          class="form-control form-control-sm w-50 mx-auto"
          placeholder="Mobile Number"
        />
      </div>
      <!-- Password -->
      <div class="text-center my-4">
        <input
          type="text"
          class="form-control form-control-sm w-50 mx-auto"
          placeholder="Password"
        />
      </div>
      <!-- Login Button -->
      <div class="text-center my-2">
        <button class="btn">Login</button>
      </div>
    </div>
  </div>
</div>
