.outer-container {
  overflow-x: hidden;
  height: 100vh;
  user-select: none;
}

.outer-container::-webkit-scrollbar {
  display: none;
}

.inner-container {
  margin: 8rem auto;
  border-radius: 1rem;
}

.img-container img {
  width: 40%;
}

.login-div {
  padding: 48px auto;
}

.btn {
  width: 49%;
  background-color: #ec5858;
  color: white;
}

.btn:hover {
  opacity: 0.5;
}

.btn:active {
  opacity: 1;
  background-color: white;
  color: #ec5858;
  border: 1.5px solid #ec5858;
}

.fw-bold:hover {
  text-decoration: underline;
  cursor: pointer;
  opacity: 0.8;
}

.fw-bold:active {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .login-div {
    padding: 2rem auto;
  }

  .inner-container {
    margin: 10rem auto;
    padding: 48px 0;
  }
}
