.outer-container {
  overflow-x: hidden;
  height: 100vh;
  user-select: none;
}

.outer-container::-webkit-scrollbar {
  display: none;
}

.img-container img {
}

.btn {
  width: 49%;
  background-color: #ec5858;
  color: white;
}

.btn:hover {
  opacity: 0.5;
}

.btn:active {
  opacity: 1;
  background-color: white;
  color: #ec5858;
  border: 1.5px solid #ec5858;
}
