<div class="container-fluid p-0 outer-container">
  <app-nav-bar></app-nav-bar>
  <div class="container-fluid cart-container">
    <div class="row">
      <div class="col-sm-12 p-0 px-3">
        <div class="card">
          <div class="row g-0 row-flex">
            <div class="col-4 img-container">
              <img
                src="https://lichiesredesignatf.s3.ap-south-1.amazonaws.com/Product/1711361124632_Mix%20Roses%20Bouquet.jpg"
                class="img-fluid rounded-start"
                alt="not found"
              />
            </div>
            <div class="col-md-8 d-flex flex-row">
              <div class="card-body">
                <h3 class="card-title product-name">Flower Set</h3>
                <p class="card-text price-text">Price: Rs.15000.0 x 1</p>
                <p class="card-text">
                  <small class="text-muted">Remove Item From List</small>
                  <button><i class="bi bi-trash"></i></button>
                </p>
              </div>
              <div class="card-body">
                <button class="btn p-0"><i class="bi bi-dash"></i></button>
                <span>1</span>
                <button class="btn p-0"><i class="bi bi-plus"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 p-0 px-3">
        <div class="card">
          <div class="row g-0">
            <div class="col-4 img-container">
              <img
                src="https://lichiesredesignatf.s3.ap-south-1.amazonaws.com/Product/1711362152684_Pink%20Roses%20Flowers%20Bouquet.jpg"
                class="img-fluid rounded-start"
                alt="not found"
              />
            </div>
            <div class="col-md-8 d-flex flex-row">
              <div class="card-body">
                <h3 class="card-title product-name">Flower Set</h3>
                <p class="card-text price-text">Price: Rs.15000.0 x 1</p>
                <p class="card-text">
                  <small class="text-muted">Remove Item From List</small
                  ><button><i class="bi bi-trash"></i></button>
                </p>
              </div>
              <div class="card-body">
                <button class="btn"><i class="bi bi-dash"></i></button>
                <span>1</span>
                <button class="btn"><i class="bi bi-plus"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 p-0 px-3">
        <div class="card">
          <div class="row g-0">
            <div class="col-4 img-container">
              <img
                src="https://lichiesredesignatf.s3.ap-south-1.amazonaws.com/Product/1711362405552_Elegant%20Flowers%20Bouquet%20of%20Gerbera.jpg"
                class="img-fluid rounded-start"
                alt="not found"
              />
            </div>
            <div class="col-md-8 d-flex flex-row">
              <div class="card-body">
                <h3 class="card-title product-name">Flower Set</h3>
                <p class="card-text price-text">Price: Rs.15000.0 x 1</p>
                <p class="card-text">
                  <small class="text-muted">Remove Item From List</small
                  ><button><i class="bi bi-trash"></i></button>
                </p>
              </div>
              <div class="card-body">
                <button class="btn"><i class="bi bi-dash"></i></button>
                <span>1</span>
                <button class="btn"><i class="bi bi-plus"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-12 p-0 px-3">
        <div class="card">
          <div class="row g-0">
            <div class="col-4 img-container">
              <img
                src="https://lichiesredesignatf.s3.ap-south-1.amazonaws.com/Product/1711361124632_Mix%20Roses%20Bouquet.jpg"
                class="img-fluid rounded-start"
                alt="not found"
              />
            </div>
            <div class="col-md-8 d-flex flex-row">
              <div class="card-body">
                <h3 class="card-title product-name">Flower Set</h3>
                <p class="card-text price-text">Price: Rs.15000.0 x 1</p>
                <p class="card-text">
                  <small class="text-muted">Remove Item From List</small
                  ><button><i class="bi bi-trash"></i></button>
                </p>
              </div>
              <div class="card-body">
                <button class="btn"><i class="bi bi-dash"></i></button>
                <span>1</span>
                <button class="btn"><i class="bi bi-plus"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
