.product-container {
  padding: 6rem 0 0 0;
  width: 50vw;
  margin: 0 auto;
}

.img-container img {
  width: 100%;
  height: 35vw;
  border-radius: 2.5vw;
}

.action-btns-container {
  padding: 1rem 0 0 0;
}

.description-container {
  padding: 0.5rem 0 0 0;
}

.shop-details-container {
  padding: 0.5rem 0 0 0;
}

@media screen and (max-width: 767px) {
  .product-container {
    width: 90vw;
    margin: 0 auto;
  }

  .img-container img {
    width: 100%;
    height: 60vw;
  }
}
