.outer-container::-webkit-scrollbar {
  color: white;
}

.outer-container::-webkit-scrollbar-thumb {
  color: white;
}
.inner-container {
  margin-top: 5rem;
}

.card {
  width: 18rem;
}

@media screen and (max-width: 767px) {
  .card {
    min-width: 44%;
  }
}
