<div class="container-fluid p-0 outer-container">
  <div class="container-fluid">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="container-fluid inner-container">
    <div class="row p-0 px-5">
      <div class="col-md-3 pt-3" *ngFor="let shop of shops.data; let i = index">
        <div class="card" id="card-shops">
          <img
            [src]="shop.shopImg"
            class="card-img-top"
            alt="not found"
            style="height: 10rem"
          />
          <div class="card-body">
            <p class="card-text">
              {{ shop.name }}
            </p>
            <button class="btn btn-primary" (click)="goToShop(shop._id)">
              Shop <i class="bi bi-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
