.product-container::-webkit-scrollbar {
  display: none;
}

h3 {
  margin: 10px auto;
  padding: 2rem;
  background-color: #f6dcdc;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
}

h5 {
  font-family: "Roboto", sans-serif;
}

.card img {
  height: 222px;
  width: 222px;
}

.card-title {
  font-size: 1em;
}

.product-container {
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

.bi {
  font-size: 1rem;
  margin-left: 2px;
}

.card-body button {
  color: white;
  font-size: 15px;
  padding: 2px;
  /* background-color: #ec5858; */
  height: 35px;
  color: #ec5858;
}

.card {
  margin: 0 1rem;
  min-width: 14rem;
  width: 18rem;
  height: 25rem;
}

.card img {
  height: 60%;
  width: 100%;
  cursor: pointer;
}

.float-end {
  color: #ec5858;
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }

  h5 {
    margin: 0;
  }

  .product-container {
    width: 100vw;
    overflow-x: auto;
  }

  button.border-0 {
    display: none;
  }

  .card {
    margin: 0 2.5%;
    min-width: 44%;
    height: 14rem;
  }

  .card img {
    height: 60%;
    width: 100%;
  }

  .card-body {
    padding: 5px 2px;
    font-size: 12px;
  }
}
