h3 {
  margin: 10px auto;
  padding: 2rem;
  background-color: #f6dcdc;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
}

.shop-container {
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

.shop-container::-webkit-scrollbar {
  display: none;
}

.btn {
  background-color: #ec5858;
  color: white;
}

.bi {
  font-size: 1.5rem;
}

.card {
  margin: 0 1rem;
  min-width: 17rem;
}

.card img {
  height: 10rem;
}

.float-end {
  color: #ec5858;

  > .bi {
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }

  .shop-container {
    width: 100vw;
    overflow-x: scroll;
    transition: transform 0.5s ease-in-out;
  }

  .border-0 {
    display: none;
  }

  .card {
    margin: 0 3%;
    min-width: 44%;
  }

  .card img {
    height: 6.5rem;
  }

  .btn,
  .bi {
    font-size: 12px;
  }

  .card-body {
    padding: 5px 0 2px 5px;
  }
}
