.outer-container {
  overflow-x: hidden;
  height: 100vh;
  user-select: none;
}

.outer-container::-webkit-scrollbar {
  display: none;
}

.cart-container {
  margin-top: 5.5rem;
}

.card {
  max-width: 800px;
  /* background-color: lightblue; */
  margin: 0 auto;
}

.card-body span{
  font-size: 1rem;
}

.product-name {
  font-weight: bold;
}

.price-text {
  color: #ec5858;
}

.text-muted {
  margin-right: 10px;
}

.bi-plus,
.bi-dash {
  font-size: 30px;
}

.btn {
  padding: 6px;
  border: 1px solid rgb(167, 163, 163);
  margin: auto 2px;
}

@media screen and (max-width: 767px) {
  /* .row-flex{
    display: flex;
    flex-direction: row;
  }

  .img-container{
    width: fit-content;
  }

  .img-container img{
    width: 66px;
    height: 66px;
  }

  .card-body .btn{
    padding: 0;
    height: 2.5rem;
  } */
}
