.outer-container {
  user-select: none;
  margin-top: 5rem;
}

h3 {
  margin: 10px auto;
  padding: 2rem;
  background-color: rgb(236, 236, 236);
  font-family: "EB Garamond", serif;
  font-size: 2rem;
  text-align: center;
}
.category-container {
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

.card-title {
  font-size: 1em;
}

.card {
  margin: 0 1rem;
  min-width: 14rem;
  cursor: pointer;
}

.card:hover {
  opacity: 0.8;
}

.card:active {
  opacity: 1;
}

.card img {
  height: 222px;
  width: 222px;
}

.bi {
  font-size: 1.5rem;
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 1.8rem;
    padding: 1.5rem;
  }

  .category-container {
    width: 100vw;
    overflow-x: scroll;
    transition: transform 0.5s ease-in-out;
  }

  button {
    display: none;
  }

  .card {
    margin: 0 3%;
    min-width: 44%;
  }

  .card img {
    height: 100%;
    width: 100%;
  }
}
