<div class="container-fluid outer-container p-0">
  <div class="container p-0 h3-container">
    <h3>TRENDING CATEGORIES</h3>
  </div>

  <div class="container-fluid p-0 d-flex flex-row">
    <button class="btn border-0" (click)="handleLeftClick()">
      <i class="bi bi-arrow-left-circle"></i>
    </button>

    <div
      class="container-fluid p-0 d-flex flex-row overflow-x-auto py-3 category-container"
    >
      <figure
        class="figure px-3"
        *ngFor="let category of categories.data; let i = index"
      >
        <img
          [src]="category.image"
          class="figure-img img-fluid rounded"
          alt="Not Found"
          style="height: 10rem"
        />
        <figcaption class="figure-caption text-center fw-bold fs-5">
          {{ category.name }}
        </figcaption>
      </figure>
    </div>

    <button class="btn border-0" (click)="handleRightClick()">
      <i class="bi bi-arrow-right-circle"></i>
    </button>
  </div>
</div>
