h3 {
  margin: 2rem auto;
  font-family: "EB Garamond", serif;
  font-size: 2rem;
  text-align: center;
  /* background-color: lightgray; */
}

.bi {
  font-size: 1.5rem;
}

.card {
  margin: 0 1rem;
  min-width: 17rem;
}
