<div class="container-lg p-0">
  <div class="container p-0">
    <h3>POPULAR SHOPS</h3>
  </div>

  <div class="container-fluid p-0 d-flex flex-row">
    <button class="btn border-0" (click)="handleLeftClick()">
      <i class="bi bi-arrow-left-circle"></i>
    </button>

    <div
      class="container-fluid p-0 py-3 d-flex flex-row overflow-x-hidden shop-container"
    >
      <div
        class="card"
        id="card-shops"
        style="width: 18rem"
        *ngFor="let shop of shops.data; let i = index"
      >
        <img
          [src]="shop.shopImg"
          class="card-img-top"
          alt="not found"
          style="height: 10rem"
        />
        <div class="card-body">
          <p class="card-text">
            {{ shop.name }}
          </p>
          <button class="btn btn-primary" (click)="goToShop(shop._id)">
            Shop <i class="bi bi-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>

    <button class="btn border-0" (click)="handleRightClick()">
      <i class="bi bi-arrow-right-circle"></i>
    </button>
  </div>
</div>
