<div class="container-fluid p-0 outer-container">
  <!-- NAV BAR -->
  <app-nav-bar></app-nav-bar>
  <div class="container-fluid p-0 shop-bg-img">
    <img [src]="shopBgImg" alt="Not Found" />
  </div>
  <!-- <div class="container-fluid p-0 shop-info"> -->
  <div class="container-md bg-light p-0 pb-3 container-logo">
    <img class="rounded-circle border" [src]="shopImg" alt="Not Found" />
    <div class="container p-0 bg-light container-shop-name">
      <h3 class="text-center m-0" style="color: #ec5858">
        {{ shopName }}
      </h3>
    </div>
    <div class="container p-0 bg-light container-shop-address">
      <p class="text-center m-0">
        {{ shopAddress }}
      </p>
    </div>
    <div class="container p-0 pt-2 bg-light d-flex flex-fill products-rating">
      <div class="container">
        <h3 class="text-center m-0">PRODUCTS</h3>
        <h4 class="text-center m-0 fw-bold">{{ products.data.length }}</h4>
      </div>
      <div class="container">
        <h3 class="text-center m-0">FOLLOWERS</h3>
        <h4 class="text-center m-0 fw-bold">9</h4>
      </div>
      <div class="container">
        <h3 class="text-center m-0">RATING</h3>
        <h4 class="text-center m-0 fw-bold">4.2</h4>
      </div>
    </div>
    <div
      class="container p-0 pt-2 bg-light d-flex flex-fill follow-contact-btns"
    >
      <div class="container text-center">
        <button class="btn follow-btn">FOLLOW</button>
      </div>
      <div class="container text-center">
        <button class="btn btn-secondary">CONTACT NOW</button>
      </div>
      <div class="container text-center">
        <button class="btn btn-secondary">
          <i class="bi bi-geo-alt"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- </div> -->

  <!-- TABS FOR PRODUCTS, VIDEOS, AND OFFERS -->
  <div class="container tab-container">
    <!-- Nav tabs -->
    <ul class="nav nav-fill nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#products">
          <i class="bi bi-grid-3x3" style="margin: 0 auto"></i>
          <br />
          Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#videos">
          <i class="bi bi-play-circle" style="margin: 0 auto"></i>
          <br />
          Videos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#offers">
          <i class="bi bi-percent" style="margin: 0 auto"></i>
          <br />
          Offers
        </a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div id="products" class="container tab-pane active">
        <div class="row">
          <div
            class="col-sm-3"
            *ngFor="let product of products.data; let i = index"
          >
            <div
              class="card p-0 mt-2 mx-auto"
              (click)="productClick(product._id)"
            >
              <img
                [src]="product.imageURLs"
                class="card-img-top"
                alt="Not Found"
              />
              <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text fw-bold">
                  {{ product.price | currency : "INR" }}
                </p>
              </div>
              <!-- <div class="card-body d-flex justify-content-around">
                <div class="flex-fill text-center">
                  <button class="btn">
                    <img src="assets/Images/litchies_cart_logo.png" alt="" />
                  </button>
                </div>
                <div class="flex-fill text-start">
                  <button class="btn">
                    <i class="bi bi-cart"></i>
                  </button>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div id="videos" class="container tab-pane fade">
        <br />
        <h3>Menu 1</h3>
        <p>
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
      <div id="offers" class="container tab-pane fade">
        <br />
        <h3>Menu 2</h3>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam.
        </p>
      </div>
    </div>
  </div>
</div>
