<div class="container-fluid bg-light p-0 outer-container">
  <app-nav-bar></app-nav-bar>
  <div
    id="carouselBrand"
    class="carousel carousel-dark slide carousel-fade mt-navbar-height"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="assets/Images/carousel-1.jpg"
          class="d-block w-100"
          alt="Not Found"
        />
        <div class="carousel-content">
          <p>
            Mega Store <br />
            <span>TRENDING</span> <br />
            <span>FASHION LOOK</span>
          </p>
        </div>
      </div>
      <div
        class="carousel-item"
        *ngFor="let banner of banners.data; let i = index"
      >
        <img
          [src]="banner.shopBanner"
          class="d-block w-100"
          alt="Not Found"
        />
      </div>
      <div class="carousel-item">
        <img
          src="assets/Images/pexels-nout-gons-378570.jpg"
          class="d-block w-100"
          alt="Not Found"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselBrand"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselBrand"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container-lg p-0">
    <app-most-liked-products></app-most-liked-products>
  </div>

  <div class="container-lg p-0">
    <app-trending-categories></app-trending-categories>
  </div>

  <div class="container-lg p-0">
    <app-trending-shops></app-trending-shops>
  </div>

  <div class="container-fluid p-0 mt-5">
    <app-footer></app-footer>
  </div>
</div>
