<div class="container-fluid p-0 outer-container">
  <app-nav-bar></app-nav-bar>

  <div class="row">
    <div class="col-md-3" *ngFor="let product of products.data; let i = index">
      <div class="card mb-3">
        <img [src]="product.imageURLs" class="card-img-top" alt="Not Found" />
        <div class="card-body pb-0 d-flex flex-row justify-content-between">
          <h5
            class="card-title"
            [style.white-space]="product.name.length > 25 ? 'nowrap' : 'normal'"
          >
            {{ product.name | slice : 0 : 25 }}
            <span *ngIf="product.name.length > 25">...</span>
          </h5>
          <h5 class="card-title">4.2 <i class="bi bi-star-fill"></i></h5>
        </div>

        <div
          class="card-body pt-0 d-flex flex-row justify-content-between action-btns-container"
        >
          <div class="text-center action-btns">
            <img id="action-icons" src="assets/Images/like-icon.png" />
            <h5 class="fw-bold">Likes</h5>
          </div>
          <div class="text-center action-btns">
            <img id="action-icons" src="assets/Images/wishlist-icon.png" />
            <h5 class="fw-bold">Wish List</h5>
          </div>
          <div class="text-center action-btns">
            <img id="action-icons" src="assets/Images/enquiry-icon.png" />
            <h5 class="fw-bold">Enquiry</h5>
          </div>
          <div class="text-center action-btns">
            <img id="action-icons" src="assets/Images/share-icon.png" />
            <h5 class="fw-bold">Share</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
